<div class="container-fluid private-page">

  <%= render :partial => 'navbar/private_nav' %>

  <div id="section-1">
    <h1>How many boxes do you need?</h1>
    <%= form_for @order, :html => {:id => "new_order_1"} do |f| %>
      <div>
        <%= f.label :amount %>
        <%= f.number_field :amount %>
      </div>
      <div>
        <label for="select">To</label>
        <select name="Address" id="user-addresses">
          <% @delivery_addresses.each do |address| %>
            <option value="<%= address.id %>"><%= address.name %></option>
          <% end %>
        </select>
      </div>
      <div>
        <%= f.submit "Submit" %>
      </div>
    <% end %>
  </div>

  <div id="section-2">
    <h1>When should we pick up your boxes?</h1>
   </div>
    <h1 id="fun"></h1>
</div>
