<div class="container-fluid private-page">

  <%= render :partial => 'navbar/private_nav' %>

  <div id="section-1">
    <div>
      <h1 id="order-page-messages"></h1>
    </div>
    <div class=<% if @delivery_addresses.empty? %>''<% else %>'hide'<% end %> id="initial-address-form-div">
      <h1>Please Enter Your Address</h1>
      <%= form_for @delivery_address, :url => delivery_addresses_path, :html => {:id => "initial_delivery_address"}, :format => :json, :remote => true do |f| %>
        <div>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div>
          <%= f.label :address1 %>
          <%= f.text_field :address1 %>
        </div>
        <div>
          <%= f.label :address2 %>
          <%= f.text_field :address2 %>
        </div>
        <div>
          <%= f.label :region %>
          <%= f.text_field :region %>
        </div>
        <div>
          <%= f.label :district %>
          <%= f.text_field :district %>
        </div>
        <div>
          <%= f.label :contact_number %>
          <%= f.number_field :contact_number %>
        </div>
        <div class="hide">
          <%= f.label :default %>
          <%= f.check_box :default, checked: "checked"%>
        </div>
        <div>
          <%= f.submit "Submit" %>
        </div>
      <% end %>
    </div>
    <div class=<% if @delivery_addresses.empty? %>'hide'<% else %>''<% end %> id="new-order-form-div">
      <h1>How many boxes do you need?</h1>
      <%= form_for @order, :url => orders_path, :html => {:id => "new-get-empty-order"}, :format => :json, :remote => true do |f| %>
        <div>
          <label for="initial_box_amount">Amount of Boxes</label>
          <input type="number" name="amount" id="initial_box_amount">
        </div>
        <div>
          <%= f.label :delivery_address_id %>
          <%= f.select :delivery_address_id do %>
            <% if @delivery_addresses.empty? != true %>
              <% @delivery_addresses.each do |address| %>
                <% if address.default = 1 %>
                  <%= content_tag(:option, address.name, value: address.id, selected: "selected") %>
                <% else %>
                  <%= content_tag(:option, address.name, value: address.id) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div>
          <%= f.label :date_when %>
          <%= f.date_field :date_when %>
        </div>
        <div>
          <%= f.label :time_when_id %>
          <%= f.select :time_when_id do %>
            <%= content_tag(:option, "Select Time", value: 0) %>)
            <% @time.each do |time| %>
              <%= content_tag(:option, time.time, value: time.id) %>
            <% end %>
          <% end %>
        </div>
        <div class="hide">
          <%= f.number_field :order_type_id, value: 1 %>
        </div>
        <div>
          <%= f.submit "Order", :class => "btn btn-success"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
