<div class="container-fluid private-page">

  <%= render :partial => 'navbar/private_nav' %>

  <div id="section-1">
    <div class="col-xs-6">
      <h1>My Addresses</h1>
      <div id="delivery-address-table">
        <table class="table" data-toggle="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
            </tr>
            <% @delivery_addresses.each do |address| %>
              <tr>
                <td><%= address.name %></td>
                <td><%= address.address1 + ", " + address.address2 + ", " + address.region + ", " + address.district %></td>
              </tr>
            <% end %>
          </thead>
        </table>
      </div>
    </div>

    <div class="col-xs-6" id="delivery-address-form-div">
      <h1>Create a new Address!</h1>
      <%= form_for @delivery_address, url: delivery_addresses_path, html: {id: "new_delivery_address"}, format: :json, remote: true do |f| %>
        <div>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div>
          <%= f.label :address1 %>
          <%= f.text_field :address1 %>
        </div>
        <div>
          <%= f.label :address2 %>
          <%= f.text_field :address2 %>
        </div>
        <div>
          <%= f.label :region %>
          <%= f.text_field :region %>
        </div>
        <div>
          <%= f.label :district %>
          <%= f.text_field :district %>
        </div>
        <div>
          <%= f.label :contact_number %>
          <%= f.number_field :contact_number %>
        </div>
        <div>
          <%= f.label :default %>
          <%= f.check_box :default %>
        </div>
        <div>
          <%= f.submit "Submit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>